-- AlterTable
ALTER TABLE "bridges" ADD COLUMN     "device_token_hash" TEXT;

-- AlterTable
ALTER TABLE "mcp_servers" ADD COLUMN     "discovered_tools" JSONB;

-- CreateIndex
CREATE UNIQUE INDEX "bridges_device_token_hash_key" ON "bridges"("device_token_hash");

